:root {
  --navbar-height: 72px;
}

.admin-layout {
  display: flex;
}

.admin-main {
  padding: 2rem;
  background-color: #f3f4f6;
  min-height: 100vh;
  margin-top: var(--navbar-height);
  overflow-x: hidden;
}

/*Menú horizontal*/
.menu-admin-horizontal {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.link-admin-horizontal {
  background-color: var(--color-accent);
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background-color 0.2s, color 0.2s;
}

.link-admin-horizontal:hover {
  background-color: var(--color-primary);
  color: white;
}

/*Estadísticas*/
.tarjeta-estadisticas {
  text-align: center;
  border-radius: 12px;
  color: white;
}

.tarjeta-estadisticas h5 {
  margin-top: 0.5rem;
  font-weight: 500;
}

.tarjeta-estadisticas h2 {
  margin: 0;
  font-size: 2rem;
}

.tarjeta-estadisticas svg {
  margin-bottom: 0.5rem;
}

/* Colores diferentes */
.tarjeta-estadisticas.encuestas {
  background: #6f42c1;
}

.tarjeta-estadisticas.categorias {
  background: #20c997;
}

.tarjeta-estadisticas.respuestas {
  background: #fd7e14;
}

.tarjeta-estadisticas.usuarios {
  background: #0d6efd;
}
