:root {
  --color-primary: #834e91;
  --color-secondary: #b39ddb;
  --color-background: #f5f5f5;
  --color-text: #2c2c2c;
  --color-accent: #e1bee7;
  --color-success: #4caf50;
  --color-success-light: #8df97c;
  --color-warning: #ff9800;
  --color-error: #f44336;
  --color-info: #90caf9;
  --navbar-height: 72px;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
}

.bg-color-primary {
  background-color: var(--color-primary);
}
.bg-color-secondary {
  background-color: var(--color-secondary);
}
.bg-color-success {
  background-color: var(--color-success);
}
.bg-color-accent {
  background-color: var(--color-accent);
}
.bg-color-info {
  background-color: var(--color-info);
}

.text-oscuro {
  color: var(--color-text);
}

/*Navbar*/
.navbar-custom {
  background-color: var(--color-primary) !important;
  color: white;
  min-height: var(--navbar-height);
}

.navbar-custom .btn {
  color: white;
  border-color: white;
}

.navbar-custom .btn:hover {
  background-color: var(--color-secondary);
  color: black;
  border-color: var(--color-secondary);
}

/*Botón reutilizable*/
.boton-principal {
  background-color: var(--color-primary);
  color: white;
  border: none;
}

.boton-principal:hover {
  background-color: var(--color-secondary);
}

/*Encuesta*/
.card-text {
  font-size: 1.1rem;
}

.bienvenida-encuesta {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: var(--color-text);
}

.boton-comenzar {
  background-color: var(--color-success-light);
  color: white;
  border: none;
}
.boton-comenzar:hover {
  background-color: var(--color-success);
}

.fondo-encuesta {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.contenedor-preguntas {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 800px;
  font-size: 1.1rem;
}

.contenedor-preguntas label {
  font-size: 1.15rem;
}

@media (max-width: 768px) {
  :root {
    --navbar-height: 80px;
  }
}
