:root {
  --color-primary: #834e91; /*Violeta oscuro*/
  --color-secondary: #b39ddb; /*Lila suave*/
  --color-background: #9fa3a9; /* Gris claro*/
  --color-text: #6a6e73; /*Gris oscuro*/
  --color-accent: #e1bee7; /*Lavanda*/
  --color-success: #4caf50; /*Verde*/
  --color-warning: #ff9800; /*Naranja*/
  --color-error: #f44336; /*Rojo*/
  --color-info: #90caf9; /*Celeste*/
}

.bg-color-primary {
  background-color: var(--color-primary);
}
.bg-color-secondary {
  background-color: var(--color-secondary);
}
.bg-color-success {
  background-color: var(--color-success);
}
.bg-color-accent {
  background-color: var(--color-accent);
}
.bg-color-info {
  background-color: var(--color-info);
}

.text-oscuro {
  color: #2b2b2b;
}

/*Botón principal reutilizable*/
.boton-principal {
  background-color: var(--color-primary);
  color: white;
  border: none;
}

.boton-principal:hover {
  background-color: var(--color-secondary);
}

/*Fondo claro para formularios y tarjetas*/
.fondo-claro {
  background-color: var(--color-background);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-text);
}

html,
body,
#root {
  height: 100%;
}
