:root {
  --color-primary: #834e91; /*Violeta oscuro*/
  --color-secondary: #b39ddb; /*Lila suave*/
  --color-background: #9fa3a9; /* Gris claro*/
  --color-text: #6a6e73; /*Gris oscuro*/
  --color-accent: #e1bee7; /*Lavanda*/
}
