.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/*Tarjetas*/
.card {
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 10px;
  background-color: var(--color-background);
  border: none;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-text);
}

.card-text {
  color: var(--color-text);
}

.btn-primary {
  background-color: var(--color-primary);
  border: none;
  transition: backgorund-color 0.2s;
}

.btn-primary:hover {
  background-color: var(--color-secondary);
}
