.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/*Banner*/
.banner-home {
  background-image: url("/fondo-banner.jpeg");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.banner-home h1 {
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem 2rem;
  border-radius: 10px;
}

/*Encuestas destacadas*/
.encuestas-destacadas {
  text-align: center;
}

.carousel-slide-content {
  display: flex;
  width: 100%;
  min-height: 280px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #f3c0f876;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #eb89ec;
}

.carousel-text {
  flex: 1;
  text-align: center;
}

.carousel-text h3 {
  margin-top: 0;
}

.carousel-image {
  width: 50%;
  min-height: 280px;
  background-size: cover;
  background-position: center;
}

.descripcion-encuesta {
  font-size: 1.1rem;
  color: #555;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .carousel-slide-content {
    flex-direction: column;
  }
  .carousel-image {
    width: 100%;
    height: 180px;
  }
  .carousel-text {
    text-align: center;
  }
}

/* Categorías */
.categorias-destacadas {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.titulo-categorias {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.contenedor-categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.categoria-box {
  background-color: var(--color-background);
  border: 2px solid var(--color-primary);
  border-radius: 70px;
  padding: 1.5rem 2rem;
  min-width: 200px;
  max-width: 250px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.categoria-box:hover {
  background-color: var(--color-primary);
  color: white;
  transform: translateY(-5px);
}

.categoria-box h3 {
  margin: 0;
  font-size: 1.4rem;
}

.categoria-box p {
  margin: 0.5rem 0 0 0;
  font-size: 1.1rem;
}

.banner {
  background-image: url("/fondo-banner.jpeg");
}

/*Botón para ver todas las encuestas*/
.btn-todas-encuestas {
  background-color: var(--color-secondary);
  color: #fff;
  border: none;
}

.btn-todas-encuestas:hover {
  background-color: #9a7dca; /* Un tono un poquito más oscuro */
  color: #fff;
}

/*Flechita de scroll hacia arriba*/
.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 0;
  line-height: 1;

  background-color: var(--color-primary);
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  transition: background-color 0.3s, transform 0.3s;
}

.scroll-top:hover {
  background-color: var(--color-secondary);
  transform: scale(1.1);
}
